@import 'css/wikipedia_germany.css';
@import 'css/wikipedia_global.css';

.navbox {
    display: none;
}

.buttonContainer {
    margin: 10px 0;
}

.btn {
    margin: 5px 5px 5px 0;
    padding: 0 5px;
    width: 40px;
}

.btn-primary:hover,
.btn-primary:not(:disabled):not(.disabled).active,
.btn-primary:not(:disabled):not(.disabled):active,
.show > .btn-primary.dropdown-toggle {
    background-color: #0050a7;
    border-color: #0050a7;
}
