.buttonContainer {
    margin: 10px 0;
}

.btn {
    margin: 5px 5px 5px 0;
    padding: 0 5px;
    width: 40px;
}

.btn-primary:hover,
.btn-primary:not(:disabled):not(.disabled).active,
.btn-primary:not(:disabled):not(.disabled):active,
.show > .btn-primary.dropdown-toggle {
    background-color: #0050a7;
    border-color: #0050a7;
}

.loader {
    border: 8px solid #f3f3f3;
    border-top: 8px solid #0050a7;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}
